@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link{
  color: white;
  text-decoration: none;
}
#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  border-bottom: 1px solid antiquewhite;
  color: white;
  background-color: #282c34;
}

.first-page {
  border-top: 1 px solid #282c34;
  height: 95%;
  min-height: 95%;

}
.second-page {
  height: 90%;
  min-height: 90%;
}
.third-page {
  height: 90%;
  min-height: 90%;
}
.fourth-page {
  height: 95%;
  min-height: 95%;
}
.hint {
  position: absolute;
  bottom: 10%;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}
.ArrowDown {
  position: absolute;
  bottom: 3%;
}
.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 10%;

}
.boxesTop {
  margin-top: 5%;
}
.box {
  display: flex;
  color: antiquewhite;
  width: 20%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: calc(4px + 1.5vw);
}

.scrolling {
  position: absolute;
  bottom: 40%;
  font-family: 'Press Start 2P', cursive;
  font-size: calc(10px + 1vw);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
